@font-face {
    font-family: 'Twitch';
    src: url('../assets/font/04B_30__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('../assets/font/W95F.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}